.filter-content {
  margin-left: 150px;
}

.filter-title {
  color: #1D2A1D;
  text-align: left;
  margin-bottom: 10px;
  font-size: 25px;
}

.divider {
  border: 2px solid #1D2A1D;
  opacity: 0.5;
  margin: 20px 0;
  width: 320px;
}
