<footer class="custom-footer">
    <div class="footer-top">
        <div class="footer-section">
            <div class="footer-title yorkten-exbold">Info</div>
            <div class="footer-line yorkten-demi">Impressum</div>
            <div class="footer-line yorkten-demi">Über uns</div>
        </div>

        <div class="footer-section">
            <div class="footer-title yorkten-exbold">Support</div>
            <div class="footer-line yorkten-demi">Hilfe</div>
            <div class="footer-line yorkten-demi">Feedback senden</div>
        </div>
    </div>
    <div class="footer-divider"></div>
    <div class="footer-bottom">
        <div class="footer-link-group">
            <div class="footer-link yorkten-demi">Nutzungsbedingungen</div>
            <div class="footer-link yorkten-demi">Datenschutzrichtlinien</div>
            <div class="footer-link yorkten-demi">Cookies</div>
            <div class="footer-link yorkten-demi">Cookie Einstellungen</div>
            <div class="footer-link yorkten-demi">Sprache: Deutsch</div>
        </div>
        <div class="footer-copyright chauncy">© 2025 RESEED</div>
    </div>
</footer>